page-register-menu {

  text-align: center;

  .toolbar-background {
      border:none !important;
  }

  .scroll-content {
    padding: 50px !important;
    background-color:#FFFFC0;
  }

  button {
    border: 2px solid black;
  }

}
