<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="custom">
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-right clear small (click)="updateProfile()" ><!--[disabled]="!registerForm.valid"-->
        Save
      </button>
   </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form>
    <ion-list *ngIf="userData">

      <div (click)="uploadImage('cover')" class="profileCover" [ngStyle]="{'background-image': userData.coverPhoto ? 'url('+userData.coverPhoto+')':'url(assets/profile-default.jpg)', 'background-size':'cover'}"></div>

      <div class="avatar" (click)="uploadImage('profile')">
        <img src="assets/profile-default.jpg" *ngIf="!userData.profilePic">
        <img src="{{userData.profilePic}}" *ngIf="userData.profilePic">
      </div>

      <ion-item>
        <ion-input type="text" value="" placeholder="Full name" name="fullName" [(ngModel)]="userData.fullName"></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label color="default" stacked>Email address</ion-label>
        <ion-input type="text" placeholder="Email"  readonly [(ngModel)]="userData.email" name="email"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label color="default" stacked>Me - in a nutshell</ion-label>
        <ion-textarea rows="5" placeholder="Me - in a nutshell" [(ngModel)]="userData.aboutSelf" name="aboutSelf"></ion-textarea>
      </ion-item>

    </ion-list>

  </form>
</ion-content>
