page-tutorial {
  .number-round {
    background: #7FFF00;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 20px;
    display: inline-block;
  }
}
