page-availability {

  h5 {
    padding-left: 25px;
  }
  ion-label {

    h5 {
      margin-top: 10px;
      text-align: left;
      position: absolute;
      left: 0px;
      text-transform: capitalize;
    }
  }

  .padding {
    padding:20px;
  }

}
